<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分享電子名片｜寧寧</title>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>
<body>
<script>
  const flexContent = {
    "type": "carousel",
    "contents": [
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/case6_寧寧/1.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "預約你的專屬髮質諮詢",
                          "color": "#cfb78b",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#373c35",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#373c35",
                  "action": {
                    "type": "uri",
                    "label": "預約髮質諮詢",
                    "uri": "https://line.me/ti/p/FFoGhuE0UV"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享電子名片",
                          "color": "#282725",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#ddd9d4",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ddd9d4",
                  "action": {
                    "type": "uri",
                    "label": "分享名片",
                    "uri": "https://liff.line.me/2009755863-IHReHMmV"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#121814",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/case6_寧寧/2.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "加入官方帳號｜最新優惠",
                          "color": "#cfb78b",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#373c35",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#373c35",
                  "action": {
                    "type": "uri",
                    "label": "官方帳號",
                    "uri": "https://lin.ee/zAYkzSl"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "追蹤IG｜看顧客真實分享",
                          "color": "#282725",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#ddd9d4",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ddd9d4",
                  "action": {
                    "type": "uri",
                    "label": "Instagram",
                    "uri": "https://www.instagram.com/eniehair?utm_source=qr"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#121814",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/case6_寧寧/3.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "與設計師面對面｜預約",
                          "color": "#cfb78b",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#373c35",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#373c35",
                  "action": {
                    "type": "uri",
                    "label": "預約",
                    "uri": "https://line.me/ti/p/FFoGhuE0UV"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "品牌故事｜ENIE 雅如詩",
                          "color": "#282725",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#ddd9d4",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ddd9d4",
                  "action": {
                    "type": "uri",
                    "label": "品牌故事",
                    "uri": "https://www.enie.tw/"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#121814",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/case6_寧寧/4.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "看看顧客怎麼說｜好評",
                          "color": "#cfb78b",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#373c35",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#373c35",
                  "action": {
                    "type": "uri",
                    "label": "顧客好評",
                    "uri": "https://www.instagram.com/eniehair?utm_source=qr"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "最新活動｜粉絲專頁",
                          "color": "#282725",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#ddd9d4",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ddd9d4",
                  "action": {
                    "type": "uri",
                    "label": "Facebook",
                    "uri": "https://www.facebook.com/share/1FLWBu3G4V/?mibextid=wwXIfr"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#121814",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/mr_1.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "電子名片｜預約",
                          "color": "#cfb78b",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#373c35",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#373c35",
                  "action": {
                    "type": "uri",
                    "label": "預約",
                    "uri": "https://lin.ee/erAsi6c"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "商務男士形象｜IG",
                          "color": "#282725",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#ddd9d4",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ddd9d4",
                  "action": {
                    "type": "uri",
                    "label": "Instagram",
                    "uri": "https://www.instagram.com/mr.business.lab/"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#121814",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      }
    ]
  };

  liff.init({ liffId: "2009755863-IHReHMmV" })
    .then(() => {
      return liff.shareTargetPicker([
        {
          type: "flex",
          altText: "雅如詩品牌經營人",
          contents: flexContent
        }
      ]);
    })
    .then((res) => {
      if (res) {
        liff.closeWindow();
      }
    })
    .catch((err) => {
      console.error("分享失敗", err);
    });
</script>
</body>
</html>
