<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分享電子名片</title>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>
<body>
<script>
  const flexContent = {
    "type": "carousel",
    "contents": [
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR/blob/main/namecard/case3_emma/1_1.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {"type": "filler"},
                    {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "立即致電", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"},
                    {"type": "filler"}
                  ],
                  "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#e0be60", "margin": "md", "height": "50px", "backgroundColor": "#023f42",
                  "action": {"type": "uri", "label": "電話", "uri": "tel:0988556917"}
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {"type": "filler"},
                    {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "分享名片", "color": "#023f42", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"},
                    {"type": "filler"}
                  ],
                  "borderWidth": "light", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#023f42", "margin": "md", "height": "50px", "backgroundColor": "#ffffff",
                  "action": {"type": "uri", "label": "分享", "uri": "https://liff.line.me/2009755863-tnzZrPeb"}
                }
              ],
              "position": "relative", "offsetBottom": "0px", "offsetStart": "0px", "offsetEnd": "0px", "backgroundColor": "#faf7f3", "paddingAll": "15px", "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR/blob/main/namecard/case3_emma/2.png?raw=true",
              "size": "full", "aspectMode": "cover", "aspectRatio": "2:3", "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box", "layout": "vertical",
                  "contents": [
                    {"type": "filler"},
                    {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "官方網站", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"},
                    {"type": "filler"}
                  ],
                  "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#e0be60", "margin": "md", "height": "50px", "backgroundColor": "#023f42",
                  "action": {"type": "uri", "label": "官網", "uri": "https://gdwood.com.tw/"}
                },
                {
                  "type": "box", "layout": "vertical",
                  "contents": [
                    {"type": "filler"},
                    {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "預約免費丈量", "color": "#023f42", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"},
                    {"type": "filler"}
                  ],
                  "borderWidth": "light", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#023f42", "margin": "md", "height": "50px", "backgroundColor": "#ffffff",
                  "action": {"type": "uri", "label": "官方LINE", "uri": "https://line.me/R/ti/p/@335xpueu"}
                }
              ],
              "position": "relative", "offsetBottom": "0px", "offsetStart": "0px", "offsetEnd": "0px", "backgroundColor": "#faf7f3", "paddingAll": "15px", "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box", "layout": "vertical",
          "contents": [
            {"type": "image", "url": "https://github.com/mrbusinesslab/MR/blob/main/namecard/case3_emma/3.png?raw=true", "size": "full", "aspectMode": "cover", "aspectRatio": "2:3", "gravity": "top"},
            {
              "type": "box", "layout": "vertical",
              "contents": [
                {"type": "box", "layout": "vertical", "contents": [{"type": "filler"}, {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "門市據點", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"}, {"type": "filler"}], "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#e0be60", "margin": "md", "height": "50px", "backgroundColor": "#023f42", "action": {"type": "uri", "label": "官網地址", "uri": "https://gdwood.com.tw/about/"}},
                {"type": "box", "layout": "vertical", "contents": [{"type": "filler"}, {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "IG 追蹤", "color": "#023f42", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"}, {"type": "filler"}], "borderWidth": "light", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#023f42", "margin": "md", "height": "50px", "backgroundColor": "#ffffff", "action": {"type": "uri", "label": "IG", "uri": "https://www.instagram.com/wood__elephant?igsh=MTRjMm0zbnNuaTJrOQ%3D%3D"}}
              ],
              "position": "relative", "offsetBottom": "0px", "offsetStart": "0px", "offsetEnd": "0px", "backgroundColor": "#faf7f3", "paddingAll": "15px", "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      }
    ]
  };

  liff.init({ liffId: "2009755863-tnzZrPeb" })
    .then(() => {
      return liff.shareTargetPicker([
        {
          type: "flex",
          altText: "大象木地板闆娘",
          contents: flexContent
        }
      ]);
    })
    .then((res) => {
      if (res) {
        liff.closeWindow();
      }
    })
    .catch((err) => {
      console.error("分享失敗", err);
    });
</script>
</body>
</html>
