<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分享電子名片</title>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>
<body>
<script>
  const flexContent = {
    "type": "carousel",
    "contents": [
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR/blob/main/namecard/case2_chung/1.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {"type": "filler"},
                    {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "來電諮詢", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"},
                    {"type": "filler"}
                  ],
                  "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#e0be60", "margin": "md", "height": "50px", "backgroundColor": "#5c8bc3",
                  "action": {"type": "uri", "label": "電話", "uri": "tel:0905523191"}
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {"type": "filler"},
                    {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "預約抓漏", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"},
                    {"type": "filler"}
                  ],
                  "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#473c38", "margin": "md", "height": "50px", "backgroundColor": "#807e7c",
                  "action": {"type": "uri", "label": "官方line", "uri": "https://line.me/R/ti/p/@799ydgjw"}
                }
              ],
              "position": "relative", "offsetBottom": "0px", "offsetStart": "0px", "offsetEnd": "0px", "backgroundColor": "#ffffff", "paddingAll": "15px", "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR/blob/main/namecard/case2_chung/2.png?raw=true",
              "size": "full", "aspectMode": "cover", "aspectRatio": "2:3", "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box", "layout": "vertical",
                  "contents": [
                    {"type": "filler"},
                    {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "分享我的名片", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"},
                    {"type": "filler"}
                  ],
                  "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#e0be60", "margin": "md", "height": "50px", "backgroundColor": "#5c8bc3",
                  "action": {"type": "uri", "label": "分享", "uri": "https://liff.line.me/2009755863-0TrE8IbD"}
                },
                {
                  "type": "box", "layout": "vertical",
                  "contents": [
                    {"type": "filler"},
                    {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "商業洽談", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"},
                    {"type": "filler"}
                  ],
                  "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#473c38", "margin": "md", "height": "50px", "backgroundColor": "#807e7c",
                  "action": {"type": "uri", "label": "個人line", "uri": "https://line.me/ti/p/pH3h5TevJH"}
                }
              ],
              "position": "relative", "offsetBottom": "0px", "offsetStart": "0px", "offsetEnd": "0px", "backgroundColor": "#ffffff", "paddingAll": "15px", "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box", "layout": "vertical",
          "contents": [
            {"type": "image", "url": "https://github.com/mrbusinesslab/MR/blob/main/namecard/case2_chung/3.png?raw=true", "size": "full", "aspectMode": "cover", "aspectRatio": "2:3", "gravity": "top"},
            {
              "type": "box", "layout": "vertical",
              "contents": [
                {"type": "box", "layout": "vertical", "contents": [{"type": "filler"}, {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "抓漏QA！", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"}, {"type": "filler"}], "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#e0be60", "margin": "md", "height": "50px", "backgroundColor": "#5c8bc3", "action": {"type": "uri", "label": "REELS", "uri": "https://www.instagram.com/reel/DTScFF2EzzR/?utm_source=ig_web_button_share_sheet&igsh=MzRlODBiNWFlZA=="}},
                {"type": "box", "layout": "vertical", "contents": [{"type": "filler"}, {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "與業界的差異？", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"}, {"type": "filler"}], "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#473c38", "margin": "md", "height": "50px", "backgroundColor": "#807e7c", "action": {"type": "uri", "label": "REELS", "uri": "https://www.instagram.com/reel/DTFe5kWEwbn/?utm_source=ig_web_button_share_sheet&igsh=MzRlODBiNWFlZA=="}}
              ],
              "position": "relative", "offsetBottom": "0px", "offsetStart": "0px", "offsetEnd": "0px", "backgroundColor": "#ffffff", "paddingAll": "15px", "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box", "layout": "vertical",
          "contents": [
            {"type": "image", "url": "https://github.com/mrbusinesslab/MR/blob/main/namecard/case2_chung/4.png?raw=true", "size": "full", "aspectMode": "cover", "aspectRatio": "2:3", "gravity": "top"},
            {
              "type": "box", "layout": "vertical",
              "contents": [
                {"type": "box", "layout": "vertical", "contents": [{"type": "filler"}, {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "五星好評", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"}, {"type": "filler"}], "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#e0be60", "margin": "md", "height": "50px", "backgroundColor": "#5c8bc3", "action": {"type": "uri", "label": "地圖", "uri": "https://maps.app.goo.gl/Q8BG7WabtYtpjWsG6"}},
                {"type": "box", "layout": "vertical", "contents": [{"type": "filler"}, {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "關於鍾師富", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"}, {"type": "filler"}], "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#473c38", "margin": "md", "height": "50px", "backgroundColor": "#807e7c", "action": {"type": "uri", "label": "CANVA", "uri": "https://www.canva.com/design/DAGsFcyTx08/2aAhK6H12_hCXh1cXY8vXQ/view?utm_content=DAGsFcyTx08&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h743840cd2c"}}
              ],
              "position": "relative", "offsetBottom": "0px", "offsetStart": "0px", "offsetEnd": "0px", "backgroundColor": "#ffffff", "paddingAll": "15px", "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box", "layout": "vertical",
          "contents": [
            {"type": "image", "url": "https://github.com/mrbusinesslab/MR/blob/main/namecard/case2_chung/5.png?raw=true", "size": "full", "aspectMode": "cover", "aspectRatio": "2:3", "gravity": "top"},
            {
              "type": "box", "layout": "vertical",
              "contents": [
                {"type": "box", "layout": "vertical", "contents": [{"type": "filler"}, {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "如何AI抓漏", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"}, {"type": "filler"}], "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#e0be60", "margin": "md", "height": "50px", "backgroundColor": "#5c8bc3", "action": {"type": "uri", "label": "抖音", "uri": "https://www.tiktok.com/@sr1219/video/7430244112298790149?is_from_webapp=1&sender_device=pc&web_id=7402154228935296530"}},
                {"type": "box", "layout": "vertical", "contents": [{"type": "filler"}, {"type": "box", "layout": "baseline", "contents": [{"type": "filler"}, {"type": "text", "text": "BNI五表", "color": "#ffffff", "flex": 0, "offsetTop": "-2px"}, {"type": "filler"}], "spacing": "sm"}, {"type": "filler"}], "borderWidth": "none", "cornerRadius": "4px", "spacing": "sm", "borderColor": "#473c38", "margin": "md", "height": "50px", "backgroundColor": "#807e7c", "action": {"type": "uri", "label": "雲端", "uri": "https://drive.google.com/file/d/1QkV2I36BT3szdiJfu3bUvSvf3VfMeufd/view?usp=sharing"}}
              ],
              "position": "relative", "offsetBottom": "0px", "offsetStart": "0px", "offsetEnd": "0px", "backgroundColor": "#ffffff", "paddingAll": "15px", "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      }
    ]
  };

  liff.init({ liffId: "2009755863-0TrE8IbD" })
    .then(() => {
      return liff.shareTargetPicker([
        {
          type: "flex",
          altText: "詠順工程行老闆",
          contents: flexContent
        }
      ]);
    })
    .then((res) => {
      if (res) {
        liff.closeWindow();
      }
    })
    .catch((err) => {
      console.error("分享失敗", err);
    });
</script>
</body>
</html>
