<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分享電子名片 - 重凱</title>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>
<body>
<script>
  const flexContent = {
    "type": "carousel",
    "contents": [
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/ai-MRbot/templates/case17_%E9%87%8D%E5%87%B1/1.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "預約一對一",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#034183",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://line.me/ti/p/0DSes2F7RO"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享我的名片",
                          "color": "#034183",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#e7e7e7",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-ClNS93l6"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#11100e",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/ai-MRbot/templates/case17_%E9%87%8D%E5%87%B1/2.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享我的名片",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#034183",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-ClNS93l6"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享我的名片",
                          "color": "#034183",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#e7e7e7",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-ClNS93l6"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#11100e",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/ai-MRbot/templates/case17_%E9%87%8D%E5%87%B1/3.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享我的名片",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#034183",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-ClNS93l6"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享我的名片",
                          "color": "#034183",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#e7e7e7",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-ClNS93l6"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#11100e",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/ai-MRbot/templates/case17_%E9%87%8D%E5%87%B1/4.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享我的名片",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#034183",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-ClNS93l6"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享我的名片",
                          "color": "#034183",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#e7e7e7",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-ClNS93l6"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#11100e",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/ai-MRbot/templates/case17_%E9%87%8D%E5%87%B1/5.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享我的名片",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#034183",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-ClNS93l6"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    { "type": "filler" },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        { "type": "filler" },
                        {
                          "type": "text",
                          "text": "分享我的名片",
                          "color": "#034183",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        { "type": "filler" }
                      ],
                      "spacing": "sm"
                    },
                    { "type": "filler" }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#034183",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#e7e7e7",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-ClNS93l6"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#11100e",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      }
    ]
  };

  liff.init({ liffId: "2009755863-ClNS93l6" })
    .then(() => {
      return liff.shareTargetPicker([
        {
          type: "flex",
          altText: "王重凱｜鉅沅管理顧問",
          contents: flexContent
        }
      ]);
    })
    .then((res) => {
      if (res) {
        liff.closeWindow();
      }
    })
    .catch((err) => {
      console.error("分享失敗", err);
    });
</script>
</body>
</html>
