<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分享電子名片</title>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>
<body>
<script>
  const flexContent = {
    "type": "carousel",
    "contents": [
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/case1_luru/1_1.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "關於小如如",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#e0be60",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#291200",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://www.instagram.com/0421_luru/"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "分享電子名片",
                          "color": "#291200",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#291200",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ffffff",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://liff.line.me/2009755863-mNfBQrRM"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#f5ede5",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/case1_luru/1_2.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "探索商務形象",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#e0be60",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#291200",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://mrbusinesslab.github.io/official/index.html"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "預約一對一交流",
                          "color": "#291200",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#291200",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ffffff",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://line.me/ti/p/FGAd3F8Asx"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#f5ede5",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/case1_luru/1_3.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "商務形象 AI 健檢",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#e0be60",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#291200",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://lin.ee/erAsi6c"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "商業影響力",
                          "color": "#291200",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#291200",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ffffff",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://canva.link/zbgay7hu9rimt4m"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#f5ede5",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/case1_luru/1_4.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "防水抓漏｜鍾師富",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#e0be60",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#291200",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://lin.ee/VXd6zM9"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "外貌說服力",
                          "color": "#291200",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#291200",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ffffff",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://canva.link/jnkda0cmmnkbraf"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#f5ede5",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      },
      {
        "type": "bubble",
        "body": {
          "type": "box",
          "layout": "vertical",
          "contents": [
            {
              "type": "image",
              "url": "https://github.com/mrbusinesslab/MR_card/blob/main/namecard/mr_1.png?raw=true",
              "size": "full",
              "aspectMode": "cover",
              "aspectRatio": "2:3",
              "gravity": "top"
            },
            {
              "type": "box",
              "layout": "vertical",
              "contents": [
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "電子名片｜預約",
                          "color": "#ffffff",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "none",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#e0be60",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#291200",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://lin.ee/erAsi6c"
                  }
                },
                {
                  "type": "box",
                  "layout": "vertical",
                  "contents": [
                    {
                      "type": "filler"
                    },
                    {
                      "type": "box",
                      "layout": "baseline",
                      "contents": [
                        {
                          "type": "filler"
                        },
                        {
                          "type": "text",
                          "text": "商務男士形象｜IG",
                          "color": "#291200",
                          "flex": 0,
                          "offsetTop": "-2px"
                        },
                        {
                          "type": "filler"
                        }
                      ],
                      "spacing": "sm"
                    },
                    {
                      "type": "filler"
                    }
                  ],
                  "borderWidth": "light",
                  "cornerRadius": "4px",
                  "spacing": "sm",
                  "borderColor": "#291200",
                  "margin": "md",
                  "height": "50px",
                  "backgroundColor": "#ffffff",
                  "action": {
                    "type": "uri",
                    "label": "action",
                    "uri": "https://www.instagram.com/mr.business.lab/"
                  }
                }
              ],
              "position": "relative",
              "offsetBottom": "0px",
              "offsetStart": "0px",
              "offsetEnd": "0px",
              "backgroundColor": "#f5ede5",
              "paddingAll": "15px",
              "paddingTop": "5px"
            }
          ],
          "paddingAll": "0px"
        }
      }
    ]
  };

  liff.init({ liffId: "2009755863-mNfBQrRM" })
    .then(() => {
      return liff.shareTargetPicker([
        {
          type: "flex",
          altText: "MR.主理人",
          contents: flexContent
        }
      ]);
    })
    .then((res) => {
      if (res) {
        liff.closeWindow();
      }
    })
    .catch((err) => {
      console.error("分享失敗", err);
    });
</script>
</body>
</html>
